{% extends "layout.html" %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">
    Edytuj zawody: {{ competition.competition_name }}
  </h2>

  <form method="POST">
    <div class="mb-3">
      <label for="competition_name" class="form-label">Nazwa zawodów</label>
      <input
        type="text"
        class="form-control"
        id="competition_name"
        name="competition_name"
        value="{{ competition.competition_name }}"
        required
      />
    </div>

    <div class="mb-3">
      <label for="competition_city" class="form-label">Miejscowość</label>
      <input
        type="text"
        class="form-control"
        id="competition_city"
        name="competition_city"
        value="{{ competition.competition_city }}"
        required
      />
    </div>

    <div class="mb-3">
      <label for="competition_date" class="form-label">Data zawodów</label>
      <input
        type="date"
        class="form-control"
        id="competition_date"
        name="competition_date"
        value="{{ competition.competition_date }}"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">
      Zaktualizuj dane
    </button>
  </form>
</div>
{% endblock %}
